In [1]:
import pandas as pd
import numpy as np

In [2]:
# B.1
ticker = pd.read_csv('INTC_2012-06-21_orderbook_5min.csv')

In [3]:
ticker

    TimeStamp  AskPrice  AskSize  BidPrice  BidSize
0       34200     27.49     6327     27.48     5100
1       34500     27.41     3700     27.40    12218
2       34800     27.36     1800     27.35     7522
3       35100     27.37     9062     27.36     4171
4       35400     27.38    15652     27.37     2062
..        ...       ...      ...       ...      ...
73      56100     26.73    25364     26.72    11256
74      56400     26.70    14245     26.69    19159
75      56700     26.63    21600     26.62    43790
76      57000     26.70    16745     26.69    67220
77      57300     26.72    88204     26.71     3391

[78 rows x 5 columns]

In [4]:
# B.2
ticker['MidPrice'] = (ticker['AskPrice'] + ticker['BidPrice']) / 2

In [5]:
ticker['BidAskSpread'] = ticker['AskPrice'] - ticker['BidPrice']

In [6]:
ticker

    TimeStamp  AskPrice  AskSize  BidPrice  BidSize  MidPrice  BidAskSpread
0       34200     27.49     6327     27.48     5100    27.485          0.01
1       34500     27.41     3700     27.40    12218    27.405          0.01
2       34800     27.36     1800     27.35     7522    27.355          0.01
3       35100     27.37     9062     27.36     4171    27.365          0.01
4       35400     27.38    15652     27.37     2062    27.375          0.01
..        ...       ...      ...       ...      ...       ...           ...
73      56100     26.73    25364     26.72    11256    26.725          0.01
74      56400     26.70    14245     26.69    19159    26.695          0.01
75      56700     26.63    21600     26.62    43790    26.625          0.01
76      57000     26.70    16745     26.69    67220    26.695          0.01
77      57300     26.72    88204     26.71     3391    26.715          0.01

[78 rows x 7 columns]

In [7]:
# B.3
start_market_value = 2000 * ticker['AskPrice'][0]
print('start_market_value: ',start_market_value)
sales_proceed = 2000 * ticker['BidPrice'].iloc[-1]
print('sales proceed at the end of the day: ', sales_proceed)
pnl = sales_proceed - start_market_value
print('P&L: ', pnl)

start_market_value:  54980.0
sales proceed at the end of the day:  53420.0
P&L:  -1560.0

In [8]:
# B.4.1
ticker['bought_share'] = round(ticker['AskSize'] *0.01, -2)
ticker['bought_share_total'] = ticker['bought_share'].cumsum()
num_of_5min = int(ticker[ticker.bought_share_total >= 2000].head(1).index.tolist()[0]) + 1
print("It takes %d minutes for the order to be filled"% (num_of_5min * 5))

It takes 105 minutes for the order to be filled

In [9]:
ticker

,TimeStamp,AskPrice,AskSize,BidPrice,BidSize,MidPrice,BidAskSpread,bought_share,bought_share_total
0,34200,27.49,6327,27.48,5100,27.485,0.01,100.0,100.0
1,34500,27.41,3700,27.40,12218,27.405,0.01,0.0,100.0
2,34800,27.36,1800,27.35,7522,27.355,0.01,0.0,100.0
3,35100,27.37,9062,27.36,4171,27.365,0.01,100.0,200.0
4,35400,27.38,15652,27.37,2062,27.375,0.01,200.0,400.0
...,...,...,...,...,...,...,...,...,...
73,56100,26.73,25364,26.72,11256,26.725,0.01,300.0,9300.0
74,56400,26.70,14245,26.69,19159,26.695,0.01,100.0,9400.0
75,56700,26.63,21600,26.62,43790,26.625,0.01,200.0,9600.0
76,57000,26.70,16745,26.69,67220,26.695,0.01,200.0,9800.0
77,57300,26.72,88204,26.71,3391,26.715,0.01,900.0,10700.0

In [9]:
# B.4.2
ticker_traded = ticker[:num_of_5min - 1] # in case the total share is more than 2000
ticker_traded = ticker_traded.copy()
ticker_traded['cost'] = ticker.loc[:, 'AskPrice'] * ticker.loc[:, 'bought_share']
ave_price = (ticker_traded['cost'].sum() + 
             (2000 - ticker_traded['bought_share_total'].iloc[-1]) * ticker.loc[num_of_5min - 1, 'AskPrice']) / 2000
print(ave_price)

27.3505

In [10]:
# B.4.3
pnl = ticker.iloc[-1]['BidPrice'] * 2000 - ave_price * 2000
print(pnl)

-1281.0